<html>
    <head>
        <title>
            <%= title %>
        </title>
        <%- include('_header') -%>
    </head>
    <body>
        <h2>SocioGram Home Page</h2>

        <%- include('_footer') -%>
    </body>
</html>