 <title> <%= title %> </title>
        <%- include('_header') -%>
  
        <h2>SocioGram Home Page</h2>

        <section id="new-feeds">
            <h4>Posts</h4>
            <% if(locals.user) { %> 
            <form action="/posts/create" id="new-feed-form" method="POST">
                <textarea name="content"  cols="40" rows="5" placeholder="Add your post here" required></textarea>
                <input type="submit" value="Post">
            </form>
            <% } %>

            <div id="post-list-container">
                <ul>
                    <% for(post of posts) {%>
                       
                        <%- include('_posts') -%>
                    <%} %>
                </ul>
            </div>

        </section>

        <%- include('_footer') -%>
